* {
	box-sizing: border-box;
  }
.header-bg{
    width: 100vw;
    height: 400px;
    background-image: url(../../../image/rory-hennessey-PBrovES5uuI-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.search-field{
    /* border:2px solid red;
	 */
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.search-field h1{
	margin-bottom: 40px;
}
form.example input[type=text] {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	float: left;
	width: 80%;
	background: #f1f1f1;
  }
  
  form.example button {
	float: left;
	width: 20%;
	padding: 10px;
	background: #2196F3;
	color: white;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none;
	cursor: pointer;
  }
  
  form.example button:hover {
	background: #0b7dda;
  }
  
  form.example::after {
	content: "";
	clear: both;
	display: table;
  }

